    /* Media queries will live here.  */
/* has to be responsive */
/* this will give good practice on working with media queries and building responsive layouts.*/
/* use this a learning oppurtunity to improve skills. */



@media screen and (max-width: 768px) {
 
  .Titlea {
    /* margin-left: 1425px; */
    margin-top: 1.2em;
    font-size:100px;
    letter-spacing: 0.56rem;
    font-weight: 500;
    color: #8C4573;
    border: #432137;
    border-width: 8px solid;
    }
    
 

  }