 /* Reset CSS */
 body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


/* Section Backgrounds */

/* Color theme hex
#8C4573 /dark violet
#C429D9
#CE7ED9
#8973D9 
#F2F2F2 /white
*/

/* General Styles */
/* .container {
    
    margin: 0 auto;
    overflow: hidden;
} */

/* Paragraph Styles */
.section p {
    /* font-size: 28px; */
    margin-bottom: 40px;
}
/* Section Styles */
.section {
    padding: 100px ;
    text-align: center;
    color: #fff;
}



.section1 {
    /* title banner section */
    background-color: #8C4573;
    height: 122px;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}

            .section1a {

                /* This we be the hero image section or hero section  */
            background-image: url("/img/WON1.png");
            height: auto;
            padding: 140px;
                text-align: center;
                background-repeat: no-repeat;
                background-color: #F3E0D2;
            }


            .Join-btn{
                
                    height: 2.2em;
                border-radius: 65px;
            background-color: #8C4573;
            padding: 20px;
            font-weight: 300;
            color: white;
            width: 220px;
            margin-left: 2025px;
            }



.Titlea {
margin-left: 1425px;
font-size:152px;
letter-spacing: 0.56rem;
font-weight: 800;
color: #C429D9;
border: #432137;
border-width: 8px solid;
}


.title-para{
letter-spacing: 0.082em;
font-size: 1.33em;
font-weight: 400;
text-align:end;
padding: 20px;

}
.Titleb , .Titlec{
margin-left: 1425px;
font-size:52px;
letter-spacing: 0.56rem;
font-weight: 300;
color:#8C4573;
margin-top: 1.23em;
}
/* End of section 1 css  */

.section2 {
    background-color: #8973D9;
}


.mstatement{
color: rgb(255, 252, 252);
font-size: x-large;
font-weight: 900;
padding: 94px;
line-height: 4em;
letter-spacing: 2.9px;


}




.section3 {
    /* background-color: #F3E0D2; */

    color: rgb(48, 45, 45);
}

.section3 p {

    margin-top: 3em;
    font-size: xx-large;
    font-weight: 400;
    line-height: 2.2em;
    padding:30px;
}



#section3-info{

background-color: #f0e5eed1;
border-radius: 65px;
margin-top: 3.2em;
height: fit-content;
}

.embed{
/* the instagram feed embed */

padding: 120px;
margin: auto;
}



.Donna-Title{

font-size:9em;
font-weight: 600;
color:#8C4573;

}

/* End of section 3  */

.section4 {
    background-color:#C429D9;
}



.section5 {
    background-color: #ff4343;
}

/* Heading Styles */
.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

        .section2 p{


            color: #432137;
            font-weight:800 ;
            font-size: x-large;
                text-align: center;
        }