 /* Reset CSS */
 body,
 html,
 p,
 h1,
 h2,
 h3
  {
    margin: 0;
    padding: 0;
}

.container{

padding: 0 1em;

}


a {

text-decoration: none;

}
/* End of global styles */
/* Media query  - start here.  */


/* Section Backgrounds */

/* Color theme hex
#8C4573 /dark violet
#C429D9
#CE7ED9
#8973D9 
#F2F2F2 /white
*/

/* General Styles */
/* .container {
    
    margin: 0 auto;
    overflow: hidden;
} */





.bible-study-box{
background-color:#8973D9;
padding: 20px;
border-radius: 20px;
margin-bottom: 1.5rem;


box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  padding: 20px;
}



.bible-study-box-list {
letter-spacing: 0.07em;
font-size: x-large;
color: white;
font-weight: 500;

}


.wk-title {


    font-size: 154px;
    font-weight: 800;
color: #F3E0D2;

}
.icon{

width:60px;
height: 60px;
padding: 2px;
}

ul {


    list-style: none;
}
.studies{
margin:0;
padding: 150px;
text-align: center;
flex-direction: row;
justify-content: center;
text-decoration: none;
justify-content: space-between;


}








/* Paragraph Styles */
.section p {
    /* font-size: 28px; */
    margin-bottom: 40px;
}
/* Section Styles */
.section {
    padding: 100px ;
    text-align: center;
    color: #fff;
}



.multiwomen-img{

width: 500px;
}

.section1 {
    /* title banner section z */
    background-color: #731A44;
    height: 142px;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}

            .section1a {

                /* This we be the hero image section or hero section  */

            min-height: 1780px;
            padding: 12px;
               background-size: contain;
              background-position-y: 18.5em;
              background-blend-mode:multiply;
              background-image: url("/img/women-nature-2/Diverse-Group-of-Women.jpg");

/*              in github pages this image wont show unless i add a dot infront of it. 
             */
            height: auto;
            padding: 140px;
                text-align: center;
                background-repeat: no-repeat;
                background-color: #f8f7f7;
            }


            .Join-btn{
                 
                    height: 2.2em;
                border-radius: 65px;
            background-color: #8C4573;
            padding: 20px;
            font-weight: 300;
            color: white;
            width: 220px;
                margin: auto;
               
            }

.Join-Title-Banner{
line-height: 1.6em;
padding: 20px;
letter-spacing: 0.62px;
font-weight: 220;
margin-bottom: 1.2em;
}





.Titlea {
/* margin-left: 1425px; */
margin-top: 0.1em;
font-size:152px;
letter-spacing: 0.56rem;
font-weight: 800;
color: #8C4573;
border: #432137;
border-width: 8px solid;
}


.title-para{
letter-spacing: 0.082em;
font-size: 1.33em;
font-weight: 400;
text-align:center;
padding: 20px;

}
.Titleb , .Titlec{
/* margin-left: 1425px; */
font-size:42px;
letter-spacing: 0.56rem;
font-weight: 300;
color:#8C4573;
margin-top: 1.23em;
}
/* End of section 1 css  */



.Titled{
    /* font-size; */
/* What will you learn at 7 WEEKS OF COURAGE */
    margin-top: 1.2em;
    color:#8C4573;
    font-weight: 800;
margin-bottom: 1.5em;
font-size: 84px;
border-radius: 16px;
border: 1px solid rgb(255, 255, 255); /* Set the border width, style, and color */
padding: 10px;
word-spacing: 15px;
letter-spacing: 0.038em;
}



.TitleF{
    /* font-size; */
/* What will you learn at 7 WEEKS OF COURAGE */
    margin-top: 1.2em;
    color:#ffffff;
    font-weight: 800;
margin-bottom: 1.5em;
font-size: 164px;
border-radius: 16px;
padding: 10px;
word-spacing: 15px;
letter-spacing: 0.038em;
}

.section1b{
text-align: center;
background-color: #432137;

}

.section1b h3 {
padding: 50px;
font-size: 82px;
color: #F3E0D2;

}
.section2 {
  height:1440px;
  background-size: cover;
    background-position-x:left;
    background-position-y:-0.45em;
  /* background-image: url(img/blue-and-bright-orange-clouds.jpg); */
  background-image: url(img/clouds-3.png);


/* should push the picture in the middle. */

}

.women-earth{

margin: auto;
width: 634px;
height: 560px;
border-radius: 1px;

}


.video-section{
margin: auto;
width: 1280px;
height: 780px;
border-radius: 2%;
margin-top: 20px;

}



.mstatement{
color: rgb(255, 252, 252);
font-size: x-large;
font-weight: 200;
padding: 4px;
line-height: 4em;
letter-spacing: 3.3px;
min-height: 56px;

}




.section3 {
    /* background-color: #F3E0D2; */
margin-top: 45.5rem;
    color: rgb(48, 45, 45);
}

.section3 p {

    margin-top: 0.5em;
    font-size: large;
    font-weight: 500;
    line-height: 2.2em;
    padding:30px;
}



#section3-info{

background-color: #f0e5eed1;
border-radius: 65px;
margin-top: 2.2em;

}

.embed{
/* the instagram feed embed */

padding: 120px;
margin: auto;
}



.Donna-Title{
margin-top: 1.3em;
font-size:8em;
font-weight: 600;
color:#8C4573;

}

/* End of section 3  */

.section4 {
    background-color:  #F3E0D2;;

    background-image: url(img/womengroupgrey6.png);
    background-blend-mode: normal;
background-size: cover;

  }




.section5 {
  background-image: linear-gradient(to right bottom, #8c4573, #863b67, #80305b, #7a2650, #731a44);
    


}



.section6 {

padding: 20px;

}



.section7{

background-color: black;


/* section with the gold praying women hands */

}

#bible-qoute2{

margin-top:2rem;

}

.gold-bible-qoute{
color: goldenrod;

}


#praying-women-img{
/* praying women image  */
margin-top: 23.4rem;

}

#praying-right-text{
/* text on right side of praying women */
margin-top: 4.5rem;
padding: 24px;

}


#praying-left-text{

margin: auto;


}
/* 




*/
.section7 h1{
padding: 30px;
font-size: 85px;
color: white;
font-weight: 500;
}

#img-taglines{
margin-top: 2.3em;
padding: 10px;
margin-bottom: 6.3em;

}
.section6 img{
/* trg section 6 images. 



*/
  margin-top: 23px;
  border-radius: 25px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Add drop shadow */



}




/* Heading Styles */
.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

        .section2 p{


            color: #432137;
            font-weight:800 ;
            font-size: x-large;
                text-align: center;
        }



        .donnabw{
          margin-top: 8.8em;
          margin-inline-start: 3em;
float: left;
            border-radius: 50%;
            min-width: 330px;
          
            max-height: 350px; 
            padding: 20px;





        }

        .bold-word{

color:#8C4573;
font-weight: 800;
        }



        .gold-word{

color:goldenrod;
font-weight: 800;
        }



        .social-icons {
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
          
          .social-icons li {
            display: inline-block;
            margin-right: 10px; /* Adjust spacing between icons */
          }
          
          .social-icons li:last-child {
            margin-right: 0; /* Remove margin from the last icon */
          }
          
          .social-icons li a {
            color: goldenrod;
            font-size: medium;
            letter-spacing: 0.25em;
            font-weight: 400;
            text-decoration: none;

            
          }
          
          .social-icons li a img {
            width: 40px; /* Adjust the size of the icons */
            height: 40px; /* Adjust the size of the icons */
          }
          
          .footer-links {
            color: white;
            font-size:medium ;
            font-weight:400 ;
            display: flex;
          flex-direction: row;
            padding: 0;
            justify-content: center; /* Center the content horizontally */            
            flex: auto;
            /* privacy and terms and conditions links here.  */


            letter-spacing: 0.156em;
        }
        
        
        .footer-links a {
            margin-top: 15px;
            padding: 15px;
              margin-right: 55px;
            color: goldenrod;
            list-style: circle;
            text-decoration: underline;

          }


          .logo-caption{
                color: goldenrod;
                
                font-size: medium;
          }

          .footer-copyright{

            font-size: larger;
            color: black;
          }


          .bible-study-clip{
            border-radius:45px;
            /* filter: blur(1px); Adjust the blur amount as needed */
            z-index: 1;
          }

          .path
        {   margin: auto;
            width: auto;
     
        }

        .dark
    {

        color: black;
    }







    footer {
      /*navigation  */
      background-color: #80305b;
      color: white;
      padding: 20px;
      position: fixed;
      bottom: 0;
      text-align: center;
      width: 100%;
      font-size: larger;
      padding:0.8%  ;
        
  }
  
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  nav ul li {
      display: inline;
      margin-right: 60px;
  }
  
  nav ul li a {
      color: white;
      text-decoration: none;
  }
  